# Linux Executable
conv

# Windows Executable
conv.exe

# vscode directory
.vscode/

# assembly files
*.asm

# perf output files
perf.data
perf.data.old

# Beamer Latex files
presentation.log  
presentation.out  
presentation.snm  
presentation.toc
presentation.aux  
presentation.nav  
presentation.vrb
