# Linux Executable
conv

# Windows Executable
conv.exe

# vscode directory
.vscode/

# Latex Output files
*.aux  
*.log  
*.out  
*.toc
# Ignore disassembly assembly files
*.asm

# perf output files
perf.data
perf.data.old

# Beamer Latex files
*.log  
*.out  
*.snm  
*.toc
*.aux  
*.nav  
*.vrb
